<a href="https://colab.research.google.com/github/MohammadAli147369/Machine-learning-projects/blob/main/Linear_regression_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/housing_data_set.csv')
df

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,Unnamed: 11,Unnamed: 12
0,1,-122.23,37.88,41,880.0,129.0,322,126,8.6252,452900,NEAR BAY,NaN,NaN
1,2,-122.22,37.86,21,7099.0,1106.0,2401,1138,8.6014,358800,NEAR BAY,NaN,NaN
2,3,-122.24,37.85,52,1467.0,190.0,496,177,7.5574,352400,NEAR BAY,NaN,NaN
3,4,-122.25,37.85,52,1274.0,235.0,558,219,5.9431,341600,NEAR BAY,NaN,NaN
4,5,-122.25,37.85,52,1627.0,280.0,565,259,4.1462,342500,NEAR BAY,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,20636,-121.09,39.48,25,1665.0,374.0,845,330,1.8603,78400,INLAND,NaN,NaN
20636,20637,-121.21,39.49,18,697.0,150.0,356,114,2.8568,77400,INLAND,NaN,NaN
20637,20638,-121.22,39.43,17,2254.0,485.0,1007,433,2.0000,92600,INLAND,NaN,NaN
20638,20639,-121.32,39.43,18,1860.0,409.0,741,349,2.1672,85000,INLAND,NaN,NaN
20639,20640,-121.24,39.37,16,2785.0,616.0,1387,530,2.6886,89700,INLAND,NaN,NaN

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.isnull().sum()

id                        0
longitude                 0
latitude                  0
housing_median_age        0
total_rooms               3
total_bedrooms          207
population                0
households                0
median_income             4
median_house_value        0
ocean_proximity          10
Unnamed: 11           20640
Unnamed: 12           20640
dtype: int64

In [ ]:
df.describe()

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,median_income,median_house_value,Unnamed: 11,Unnamed: 12
count,20640.000000,20640.000000,20640.000000,20640.000000,20637.000000,20433.000000,20640.000000,20636.000000,20640.000000,0.0,0.0
mean,10320.500000,-119.569704,35.631861,28.639486,2634.865969,537.870553,1425.476744,4.170875,207155.816909,NaN,NaN
std,5958.399114,2.003532,2.135952,12.585558,2180.350225,421.385070,1132.462122,1.899942,115395.615874,NaN,NaN
min,1.000000,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,0.799900,15299.000000,NaN,NaN
25%,5160.750000,-121.800000,33.930000,18.000000,1447.000000,296.000000,787.000000,2.863400,119900.000000,NaN,NaN
50%,10320.500000,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,3.835100,180000.000000,NaN,NaN
75%,15480.250000,-118.010000,37.710000,37.000000,3146.000000,647.000000,1725.000000,5.043700,265025.000000,NaN,NaN
max,20640.000000,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,15.300100,500301.000000,NaN,NaN

In [ ]:
df.dtypes

id                      int64
longitude             float64
latitude              float64
housing_median_age      int64
total_rooms           float64
total_bedrooms        float64
population              int64
households             object
median_income         float64
median_house_value      int64
ocean_proximity        object
Unnamed: 11           float64
Unnamed: 12           float64
dtype: object

In [ ]:
def outliers(df):
  q1 = df.quantile(0.25)
  q3 = df.quantile(0.75)
  IQR = q3 -q1
  lower = q1 - 1.5 * IQR
  upper = q3 + 1.5 * IQR
  outliers = df[(df < lower) | (df > upper)]
  return outliers

column_names = df.select_dtypes(include = ['float64', 'int64'])

for i in column_names:
  result = outliers(df[i])
  print('outliers for', i,"-",len(result))

outliers for id - 0
outliers for longitude - 0
outliers for latitude - 0
outliers for housing_median_age - 0
outliers for total_rooms - 1284
outliers for total_bedrooms - 1271
outliers for population - 1196
outliers for median_income - 680
outliers for median_house_value - 1071
outliers for Unnamed: 11 - 0
outliers for Unnamed: 12 - 0

In [ ]:
def z_score(df, threshold = 7):
  zscore = np.abs((df -  df.mean())/ df.std())
  outliers = df[zscore > threshold]
  return outliers

for i in column_names:
  result = z_score(df[i])
  print('outliers for', i,"-",len(result))

outliers for id - 0
outliers for longitude - 0
outliers for latitude - 0
outliers for housing_median_age - 0
outliers for total_rooms - 47
outliers for total_bedrooms - 41
outliers for population - 36
outliers for median_income - 0
outliers for median_house_value - 0
outliers for Unnamed: 11 - 0
outliers for Unnamed: 12 - 0

In [ ]:

df.isnull().sum()

id                        0
longitude                 0
latitude                  0
housing_median_age        0
total_rooms               3
total_bedrooms          207
population                0
households                0
median_income             4
median_house_value        0
ocean_proximity          10
Unnamed: 11           20640
Unnamed: 12           20640
dtype: int64

In [ ]:
df['households'] = pd.to_numeric(df['households'], errors = 'coerce')

In [ ]:
mean = round(df['households'].mean(),2)
mean

499.55

In [ ]:
df.dtypes

id                      int64
longitude             float64
latitude              float64
housing_median_age      int64
total_rooms           float64
total_bedrooms        float64
population              int64
households             object
median_income         float64
median_house_value      int64
ocean_proximity        object
Unnamed: 11           float64
Unnamed: 12           float64
dtype: object

In [ ]:
df.head(5)

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,Unnamed: 11,Unnamed: 12
0,1,-122.23,37.88,41,880.0,129.0,322,126,8.6252,452900,NEAR BAY,NaN,NaN
1,2,-122.22,37.86,21,7099.0,1106.0,2401,1138,8.6014,358800,NEAR BAY,NaN,NaN
2,3,-122.24,37.85,52,1467.0,190.0,496,177,7.5574,352400,NEAR BAY,NaN,NaN
3,4,-122.25,37.85,52,1274.0,235.0,558,219,5.9431,341600,NEAR BAY,NaN,NaN
4,5,-122.25,37.85,52,1627.0,280.0,565,259,4.1462,342500,NEAR BAY,NaN,NaN

In [ ]:
df['population'].min()

3

In [ ]:
df['population'].max()

35682

In [ ]:
df.describe()

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,Unnamed: 11,Unnamed: 12
count,20640.000000,20640.000000,20640.000000,20640.000000,20637.000000,20433.000000,20640.000000,20637.000000,20636.000000,20640.000000,0.0,0.0
mean,10320.500000,-119.569704,35.631861,28.639486,2634.865969,537.870553,1425.476744,499.545089,4.170875,207155.816909,NaN,NaN
std,5958.399114,2.003532,2.135952,12.585558,2180.350225,421.385070,1132.462122,382.356734,1.899942,115395.615874,NaN,NaN
min,1.000000,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.799900,15299.000000,NaN,NaN
25%,5160.750000,-121.800000,33.930000,18.000000,1447.000000,296.000000,787.000000,280.000000,2.863400,119900.000000,NaN,NaN
50%,10320.500000,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.835100,180000.000000,NaN,NaN
75%,15480.250000,-118.010000,37.710000,37.000000,3146.000000,647.000000,1725.000000,605.000000,5.043700,265025.000000,NaN,NaN
max,20640.000000,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.300100,500301.000000,NaN,NaN

In [ ]:
df['ocean_proximity'].unique()

array(['NEAR BAY', nan, '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [ ]:
pop = df['population'].max() - df['population'].min()
pop

35679

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split as tts

In [ ]:
df.isnull().sum()

id                        0
longitude                 0
latitude                  0
housing_median_age        0
total_rooms               0
total_bedrooms            0
population                0
households                0
median_income             0
median_house_value        0
ocean_proximity           0
Unnamed: 11           20640
Unnamed: 12           20640
dtype: int64

In [ ]:
mean = df['total_bedrooms'].mean()
mean

537.8705525375618

In [ ]:
df['total_bedrooms']=df['total_bedrooms'].fillna(mean)

In [ ]:
mean = df['ocean_proximity'].mode()[0]
mean
df['ocean_proximity']=df['ocean_proximity'].fillna(mean)

In [ ]:
mean = df['total_rooms'].median()
mean
df['total_rooms']=df['total_rooms'].fillna(mean)

In [ ]:
mean = df['households'].median()
mean
df['households']=df['households'].fillna(mean)

In [ ]:
mean = df['median_income'].median()
mean
df['median_income']=df['median_income'].fillna(mean)

In [ ]:
cat_cols = df.select_dtypes(include=['object']).columns.to_list()

In [ ]:
data2 = pd.get_dummies(df, columns=cat_cols, drop_first= True)

In [ ]:
x = data2.drop(columns = ['median_house_value', 'Unnamed: 11', 'Unnamed: 12'])
y = data2['median_house_value']

In [ ]:
x_train, x_test , y_train, y_test = tts(x, y, train_size = 0.8, random_state=12)
lr = LinearRegression()

In [ ]:
model = lr.fit(x_train, y_train)
model

LinearRegression()

In [ ]:
y_pred = model.predict(x_test)
y_pred

array([244196.29744096, 208368.93884657, 232982.72369002, ...,
        63767.41157172, 287832.17756011, 234522.45362806])

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [ ]:
r2 = r2_score(y_test, y_pred)
r2

0.6451114130250617

In [ ]:
m1 = mean_absolute_error(y_test, y_pred)
m2 = mean_squared_error(y_test, y_pred)